body {background-color: #800000;
        font-family: verdana;
        font-size: 100%;
        color: white;
        margin: 0;}

h1{background-color: black;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0em;
    margin: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;}

h2{background-color: white;
    color: black;}

h1 + h2{margin-top: 2.5em;}

table{border: 1px;
        border-collapse: collapse;}

td{height: 10%;
    vertical-align: text-top;
    padding: 1%;
    text-align: left;}