body{font-family: verdana;
        background-color: blue;}

#blok{background-color: white;
        height: 100%;
		width: 90%;
		border: solid 3px black;
		margin-right: 7%;
		margin-left: 4%;
        margin-top: 5%;
        margin-bottom: 5%;
        padding-left: 2%;}

#gegevens{width: 40%;
             border: solid 3px black;
             background-color: beige;
             margin-top: 2%;
             margin-left: 30%;
             margin-right: 30%;
             margin-bottom: 3%;
             height: 45%;
             padding-left: 2%}

.vragen{font-size: 100%;
        font-style: italic;}