body{font-family: verdana;
        background-image: url(fotos/backgroundimage.jpg);}

#titel{font-size: 200%;
        text-align: center;
        margin-top: 2%;}

p{margin-left: 2%;
    margin-right: 2%;}