input[type=text],
select {
    width: 50vw;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text]:focus {
    border: 2px solid red;
    background-color: lightgray;
}

input[type=email],
select {
    width: 50vw;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=tel],
select {
    width: 50vw;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    outline: yellow;
    width: 50vw;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#questions {
    color: red;
    text-align: center;
}

.button {
    background-color: darkgrey;
    color: red;
    padding: 6px 20px;
    margin: 6px 0;
    border: red;
    border-radius: 6px;
    cursor: pointer;
}

.button:hover {
    background-color: grey;
}

#linkSocial {
    text-align: center;
}